/target/
/.cache/
/dist/
**/.godot/
/frontend/godot-ui/bin/*
!/frontend/godot-ui/bin/.gitkeep
/export_credentials.cfg
**/export_credentials.cfg
*.p12
*.pfx
*.key
*.mobileprovision
*.sfc
*.smc
*.srm
*.sav
.DS_Store
__pycache__/
